[Desktop Entry]
Name=CyberDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/cyberdesk;
TryExec=cyberdesk
Exec=cyberdesk %u
Icon=cyberdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=cyberdesk
