[Unit]
Description=CyberDesk
Requires=network.target
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/cyberdesk --service
# kill --tray and --server both
ExecStop=pkill -f "cyberdesk --"
# below two lines do not work, have to use above one line
#ExecStop=pkill -f "cyberdesk --tray"
#ExecStop=pkill -f "cyberdesk --server"
PIDFile=/run/cyberdesk.pid
KillMode=mixed
TimeoutStopSec=30
User=root
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
